/*
-------------------------------------
File Basic Information
Site:         Site Name
Author:       Name
Updated:      Date And Time 
Updated by:   Name
-------------------------------------
*/


/*
-------------------------------------
COLORS
Body background:    #def455
Content background: #fff
Main text:          #333 
Links:              #00600f
Visited links:      #098761
Hover links:        #aaf433 
H1 H2 H3:           #960
H4 H5 H6:           #000
-------------------------------------
*/


/*
-------------------------------------
Head Styles
-------------------------------------
*/


/*
-------------------------------------
Navigation Styles
-------------------------------------
*/

/*
-------------------------------------
Content Styles
-------------------------------------
*/

/*
-----------------------------------------------------------------------
head.css, content.css, footer.css -->bridging.css  -->link to xxx.html
-----------------------------------------------------------------------
*/